body {
    margin: 0;
    background-color: #cdcdcd;
}

.section-background {
    height: 100%
}

.schedule-div {
    margin: auto;
    margin-left: 50px;
    margin-right: auto;
    margin-top: 50px;
    float: left;
    height: 75%;
    width: 60%;
    border-radius: 20px;


    background-color: white;
    
}

.aside-schedule-div {
    margin: auto;
    margin-top: 50px;
    margin-right: 50px;
    float: right;
    height: 75%;
    width: 25%;
    border-radius: 20px;

    background-color: white;
}

.header-blue {
    background-color: #33AFFF;    
    height: 100px;
}

.header-logo {
    height: 50px;
    width: auto;
    margin-top: 25px;
    margin-left: 25px;
}

.avatar-logo {
    float: right;
}